@model List<Shoppinglist_EntityLayer.Concrete.ToDoList>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Listelerim</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a id="btnAdd" class="btn btn-sm btn-outline-primary" onclick="showAddCategoryModal()">
                                <i class="fas fa-plus"></i>
                            </a>
                            @*<button type="button" class="btn btn-success fas fa-plus " id="btnAdd" > Yeni Liste Ekle</button>*@

                        </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row d-flex align-items-stretch">
                    @foreach (var item in Model)
                    {
                        <div class="col d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">
                                    @*<div>
                                @item.Category.Name

                                </div>*@
                                </div>

                                <div class="card-body pt-0">
                                    <a href="/ProductToDoList/Index/@item.ID">

                                        <div class="row">
                                            <div class="col-12">
                                                <h2 class="lead"><b>@item.Name</b></h2>
                                                @*<img src="@item.ImageUrl" alt="" class="img-circle img-fluid" style="height=" 250px"; width="250px" ;">*@

                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        @*@if (!item.Status)
                                    {
                                    <a href="/Product/ActivateProduct/@item.ID" class="btn btn-sm btn-success">
                                    Aktif et
                                    </a>
                                    }
                                    else
                                    {
                                    <a href="/Product/DeleteProduct/@item.ID" class="btn btn-sm btn-danger">
                                    Pasif et
                                    </a>
                                    }*@
                                        <a href="/ToDoList/EditToDoList/@item.ID" class="btn btn-sm btn-primary">
                                            Güncelle
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

    </section>
</div>

<script>


    function showAddCategoryModal() {

        Swal.fire({
            title: 'Yeni Liste Adı Giriniz',
            input: 'text',
            inputAttributes: {
                autocapitalize: 'off'
            },
            showCancelButton: true,
            cancelButtonText:'İptal',
            confirmButtonText: 'Kaydet',
            showLoaderOnConfirm: true,
            preConfirm: (login) => {
                return $.ajax({
                    contentType: "application/json",
                    dataType: "json",
                    type: "Get",
                    url: "/ToDoList/AddToDoList/",
                    data: {
                        ToDoListName: login,
                    },
                    success: function (data) {

                        return data.json();
                    }
                })
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    icon: 'success',
                    title: `Liste ekleme işlemi başarılı.`
                })
                setTimeout(() => { location.reload(true) }, 1000);
            }
        })

    };


</script>


