@model List<Shoppinglist_EntityLayer.Concrete.ProductToDoList>
@{
    ViewData["Title"] = "Listeye Ürün Ekle";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@{
    int sayac = 0;
}
<div class="col-8">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kategoriler</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item" placeHolder="Kategori Ekle">
                            <a href="/Category/AddCategory/" class="nav-link">
                                <i class="fas fa-plus"></i>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="card card-solid">
            <div class="card-body pb-0">

                <table class="table table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Ürün Adı</th>
                       @* <th>Durumu</th>
                        <th>Güncelle</th>*@
                    </tr>
                    @foreach (var item in Model)
                    {
                        sayac++;
                        <tr>
                            <th>@sayac</th>
                            <td>@item.ProductID</td>
                            @*<td>
                                @if (item.Status)
                                {
                                    <a href="/Category/PassiveCategory/@item.ID" class="btn btn-success">Pasif et</a>

                                }
                                else
                                {
                                    <a href="/Category/ActiveCategory/@item.ID" class="btn btn-danger">Aktif et</a>

                                }
                            </td>
                            <td><a href="/Category/EditCategory/@item.ID" class="btn btn-info">Güncelle</a></td>*@
                        </tr>
                    }
                </table>
            </div>
        </div>
    </section>
</div>




